@import '../../gc-styles/gc-style.css';

#timeSliderDiv > div > .button {
    font-size: 0.8rem!important;
}

#inpTimeSlider {
    margin-left: 10px;
    margin-right: 10px;
    height: 2.4em;
    line-height: 1.5;
    padding-bottom: calc(0.5em - 1px); /* align with small buttons */
    width: 100%;
}